/* all common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* all common css end */

/* header part start */
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.navbar:hover{
 color: blueviolet;

}
.nav-link{
   font-family: "open sans",serif; 
   color: #29313D;
   font-size: 18px;
   font-weight: 600;
}
.btn-contac{
    padding: 20px 38px;
    border-radius: 28px;
    background:#8454F5;
    color: #fff;
    font-family: "nunito", serif;
}
/* header part end */
/* banner part start */
#bannerPart{
    padding-top:270px;
    padding-bottom:250px;
    background: url(../images/content.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.bannerText h1{
    font-size: 64px;
    font-weight: 800;
    font-family: "open sans",serif;
    color:#1D354F;
    line-height: 60px;
}
.bannerText p{
    font-size: 18px;
    font-weight: 400;
    font-family: "nunito",serif;
    color:#1D354F;
    padding-top: 30px;
    padding-bottom: 65px;
    line-height: 100%;
}
/* banner part end */
/* service part start */
#servicePart{
    padding: 100px 0;
}
.commonTitle h3{
    font-size: 48px;
    font-weight: 600px;
    font-family: "poppins";serif;
    color: #29313D;
}
.serviceItem{
    padding: 30px 20px;
    transition: .4s;
    margin-top: 50px;
}
.serviceItem:hover{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.serviceItem h3{
    font-size: 28px;
    font-weight: 600px;
    font-family: "poppins";serif;
    color: #29313D; 
    padding: 30px 0; 
}
.serviceItem p{
    font-size: 17px;
    font-weight: 400;
    font-family: "nunito",serif;
    color:#1D354F; 
    line-height: 150%; 
}
.serviceItem a{
    font-size: 16px;
    font-weight: 700;
    font-family: "nunito",serif;
    color:#29313D;
} 
/* service part end */

/*  munit part start */

/* munit part end */
/* header part start */
/* header part end */

/* git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/RimaKhanDev/Inovate.git
git push -u origin main */git 